<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="layouts/authorized :: layout(~{::title}, ~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<section>
    <h1>Homepage</h1>

    <p>
        <span>New users</span>
    </p>
    <p>
        <span>New animals</span>
    </p>
    <p>
        <span>Person with the most animals</span>
    </p>
</section>
</body>
</html>